*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container{
    display: flex;
    justify-content: space-around;
    padding: 17px;
    align-items: center;
    background-color: rgb(49, 47, 47);
    color: white;
}

.logo{
    font-size: 26px;
    font-weight: bold;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    
    

}

.item{
    margin-right: 20px;
    padding-right: 10px;
    cursor: pointer;
    padding-top: 10px;

}

.item:hover{
    color: #D21312;
}

.background-container{
    background-image: url("./image/background.png"), linear-gradient(45deg, rgb(21, 21, 21), rgb(30, 29, 29));
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100vh;
     color: white;

}

.photo{
    width: 400px;

}

.h2{
    font-size: 50px;
}

.para{
    padding-top: 10px;
    color: rgb(53, 53, 53);
    color: rgba(255, 255, 255, 0.582);
}

.btn{
    background-color: #D21312;
    color: aliceblue;
    padding: 15px 20px;
    border: none;
    margin-top: 18px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn:hover{
    background-color: #c82f2f;
}

.title{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.about{
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;

}

.img{
    width: 300px;
}

.right{
    margin-bottom: 80px;
}

.slogan{
    font-size: bold;
    font-size: 25px;
    padding-bottom: 14px;
}




.btn2{
    background-color: #eb0f0f;
    color: aliceblue;
    padding: 15px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}


/* Service */

.srv{
    background-image: url("./image/background.png"), linear-gradient(45deg, rgb(21, 21, 21), rgb(30, 29, 29));
    color: white;
}

.service{
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    text-align: center;
    padding-bottom: 20px;
    
}

.icon{
    width: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.card{
    background-image: url("./image/background.png"), linear-gradient(45deg, rgb(14, 13, 13), rgb(9, 9, 9));
    margin:  20px;
    padding: 15px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px gray;
}

.cardH{
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 10px;
}
.cardp{
    padding-bottom: 20px;
    color: rgba(220, 220, 220, 0.515);
}

.btn3{
    padding: 8px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding-left: 150px;
    padding-right: 180px;

    
    list-style: none;
    background-color: black;
    color: white;
}

h2{
    font-size: 20px;
    padding-bottom: 25px;
}

.footP{
    color: rgb(181, 179, 179);
    padding-bottom: 14px; 
}

h3{
    font-size: 35px;
    padding-bottom: 14px;
}

li{
    color: rgb(181, 179, 179);
    padding-bottom: 14px;
}

.subFoot{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom{
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    width: 80%;
    
}

.copywrite{
    font-size: 14px;
    padding-top: 26px;
    color: rgb(181, 179, 179);
}



